extends ./inc/base

block prepend header
  link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400")

block content
  .content-wrapper
    .content
      h1.siteId: img(src="img/logo.svg" width="250" alt="We are best Sidekicks ever. WireFrames LLC.")
      section.section
        h2.title Markup Environment
        p.version v0.5.0
        p.para Enjoy Your Coding!
